# Some Jupyter basics
- Starting Jupyter
- Navigating directories
- Creating a new notebook
- Buttons I use all the time
- Adding, Insert->Add above
- Keyboard shortcuts
- Saving
- Interrupting or restarting
- Run all, Run above, Run Below
- Printing

# The obligatory

In [1]:
'Hello, World'

'Hello, World'

In [2]:
name = 'World'
'Hello, ' + name

'Hello, World'

In [3]:
print ('Hello, ' + name)

Hello, World

# Strings

In [4]:
'Rajah'
"ELVTR"

'ELVTR'

In [1]:
who = 'Rajah'
what = 'Python for Financial Analysis'
# who what
who + ' is teaching ' + what

'Rajah is teaching Python for Financial Analysis'

In [6]:
'don't do it'
"don't do it"

SyntaxError: invalid syntax (Temp/ipykernel_13544/2748520001.py, line 1)

In [2]:
# Some other fun with strings
'mashed' 'together'
x = 'Separated by \na line break'
print (x) # but x by itself is <Separated by \na line break>
y = '1.\tOne\n2.\tTwo\n3.\tThree'
print (y)

Separated by
a line break
1.	One
2.	Two
3.	Three

# Comments

In [9]:
# this is a comment
42  # The answer to life, the universe, and everything

42

# Python is 0-offset
That means we start counting from 0, not 1.

# Print statement
See the docs: https://docs.python.org/3.9/tutorial/inputoutput.html

A helpful intro: https://realpython.com/python-print/

## many ways to do the print statement

In [3]:
print (who + ' is teaching ' + what)
print ('{} is taught by {}'.format(what, who)) # the {} represents the variables, in order
print ('{1} teaches the class: "{0}"'.format(what, who)) # Or you can explicitly number the vars.

Rajah is teaching Python for Financial Analysis
Python for Financial Analysis is taught by Rajah
Rajah teaches the class: "Python for Financial Analysis"

## but I prefer the f-string

In [4]:
name = 'Rajah'
print (f'Hello, {name}!')

Hello, Rajah!

# Integers

In [12]:
42

42

In [6]:
i = 42
j = -3 * -9
i

42

In [14]:
print (j)

27

In [15]:
x = 3/5
y = 10 ** -4
z = 3 / -6 + 2 * 8 + 2 ** 4 # Precedence: parens, unary, exponentiation, mult/div, add/sub
z

31.5

# A little more on print
## Why doesn't this work?

In [16]:
print ('The answer to life, the universe, and everything is' + i)

TypeError: can only concatenate str (not "int") to str

In [7]:
print ('The answer to life, the universe, and everything is ' + str(i))
print ('The answer to life, the universe, and everything is: {i}.')
print (f'The answer to life, the universe, and everything is: {i}.')

The answer to life, the universe, and everything is 42
The answer to life, the universe, and everything is: {i}.
The answer to life, the universe, and everything is: 42.

# Floats

StackOverflow: is Floating point math broken? https://stackoverflow.com/questions/588004/is-floating-point-math-broken

Technical paper, *What Every Computer Scientist Should Know About
Floating-Point Arithmetic*, by David Goldberg http://plato.la.asu.edu/MAT420/float2.pdf

The Python API: https://docs.python.org/3/tutorial/floatingpoint.html

## Either read the above or take it on faith
Really neat numbers in decimal might not be so neat in binary.

## But the FORTRAN library
... was well written and covers a multitude of sins.

In [18]:
1.3 + 1.1

2.4000000000000004

In [1]:
# Making it print like dollars and cents.
food = 38.76
tip = food * .15
tax_rate = .085
tax = food * tax_rate
total = food + tip + tax
print('Total (no formatting)')
print(f' Food\t${food}\n tip\t${tip}\n tax\t${tax}\nTotal:\t${total}')

Total (no formatting)
 Food	$38.76
 tip	$5.813999999999999
 tax	$3.2946
Total:	$47.8686

## One way to get a float to look right
### Round

In [9]:
print(total)            # What we're starting with
print(round(total))     # Round to the nearest dollar
print(round(total, 2))  # Round to the nearest penny
print(round(total, -1)) # Round to the nearest ten-dollar

47.8686
48
47.87
50.0

# Datetime
Need to import the datetime library
Helpful information: https://www.geeksforgeeks.org/python-datetime-module/?ref=gcse

In [34]:
from datetime import datetime, date
moment = datetime.now()
print(f'This was run at {moment}')
v_date = date(2022, 2, 14)
print (f"Valentine's day is {v_date}")

This was run at 2021-12-22 17:54:48.766083
Valentine's day is 2022-02-14

## A little about objects
We use a . to get an attribute inside an object.

In [23]:
moment.year

2021

In [29]:
print(f'Year / month / day = {moment.year} / {moment.month} / {moment.day}')
print(f'hour / minute / second = {moment.hour} / {moment.minute} / {moment.second}')

Year / month / day = 2021 / 12 / 22
hour / minute / second = 17 / 26 / 37

## Past and future dates

In [32]:
from datetime import timedelta
day_ago = timedelta(days=-1)
week_hence = timedelta(days=14)
yesterday = moment + day_ago
yesterday

datetime.datetime(2021, 12, 21, 17, 26, 37, 570225)

In [33]:
next_week = moment + week_hence
next_week

datetime.datetime(2022, 1, 5, 17, 26, 37, 570225)

## Comparing dates
Sometimes we need to convert types from one to another.

In [41]:
# moment < v_date # Causes an error "TypeError: can't compare datetime.datetime to datetime.date"
v_datetime = datetime(v_date.year, v_date.month, v_date.day)
moment < v_datetime

True

# Booleans
## True and False

In [42]:
x = True
type(x)

bool

In [45]:
a = 3 < 4
b = name == 'Bill' # Meaning: Assign to b the truth value of name containing the string 'Bill'
print(f'{a} and {b} yield {a and b}')
print(f'{a} or {b} yield {a or b}')
print(f'not {a} is {not a}')
print(f'not {b} is {not b}')

True and False yield False
True or False yield True
not True is False
not False is True

In [32]:
# A Python pitfall: = and == are not the same.
name1 = 'Alice'
name2 = 'Alice'
name1 == name2 # True: 'Alice' and 'Alice' are the same strings
name3 = 'Bob'
name4 = 'Fred'
name3 = name4 # assigns name4 to name3
name3

'Fred'

# None
This is used for uninitialized variables

In [12]:
x = None
y = 3
x == y

False

In [4]:
y = None
y is None

True

# Lists
## May be mixed types
Surrounded by square brackets. Elements are separated by commas. May be empty. Have lengths that you can retrieve with len().

In [5]:
lst_0 = []
lst_1 = [y]
lst_2 = [3, 'Hey']

In [8]:
lst_0 # []
lst_1 # [None]
lst_2 # [3, 'Hey']
len(lst_0) # 0
len(lst_1) # 1
len(lst_2) # 2

[3, 'Hey']

## Different ways to add to a list
### Append
Append adds a single element to the end.

In [15]:
lst_3 = list() # The other way to make an empty list
lst_3.append(5.0)
lst_3 # [5.0]

[5.0]

###  Append vs. extend
Appending a list gets you a multi-dimensional list
Extending a list adds the elements, one at a time.

In [16]:
# Append a list
lst_3.append(lst_2)
lst_3 # Python just adds the list: [5.0, [3, 'Hey']]

[5.0, [3, 'Hey']]

In [14]:
lst_a = ['a', 'b', 'c']
lst_b = [1, 2, 3]
lst_a.extend(lst_b) # adds the elements of lst_b, one at a time
lst_a

['a', 'b', 'c', 1, 2, 3]

### You don't have to add at the end
You may also insert at the front, the back, or in the middle.

In [39]:
lst_c = [10, 20, 30, 40]
lst_c.insert(0, 'first') # insert an el before the 0th pos.
print(lst_c)

['first', 10, 20, 30, 40]

In [40]:
lst_c.insert(3, 'before third') # insert an el before the 3rd pos.
print(lst_c)

['first', 10, 20, 'before third', 30, 40]

In [41]:
lst_c.insert(-1, 'penultimate') # insert an el before the last pos.
print(lst_c)

['first', 10, 20, 'before third', 30, 'penultimate', 40]

### Some unexpected things that lists do
(optional section, but you will probably run into this)

In [10]:
lst_4 = [1, 2, 3, 4]
lst_5 = lst_4.append(5) # Python pitfall!
print(lst_4) # [1, 2, 3, 4, 5]
print(lst_5) # None

[1, 2, 3, 4, 5]
None

In [33]:
# Assigning lists has side effects
lst_6 = lst_4 # Another pitfall
lst_6.append(6)
print(lst_6) # [1, 2, 3, 4, 5, 6], as expected
print(lst_4) # [1, 2, 3, 4, 5, 6], a side effect

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [12]:
# The copy function makes this work as expected
lst_7 = [True, 'Hey', 3.14159]
lst_8 = lst_7.copy()
lst_8.append(42)
print(lst_8) # [True, 'Hey', 3.14159, 42], as expected
print(lst_7) # [True, 'Hey', 3.14159], because the copy() leaves the orig unaffected

[True, 'Hey', 3.14159, 42]
[True, 'Hey', 3.14159]

## Accessing elements of a list
Remember: Python is zero-offset

In [21]:
lst_7[0] # First element in the list

True

In [23]:
lst_7[2]

3.14159

In [24]:
lst_7[3] # Throws an IndexError

IndexError: list index out of range

In [28]:
# Negative numbers start from the end of the list
lst_7[-1]

3.14159

In [30]:
lst_7[-2] # Penultimate element: 'Hey'
lst_7[-3] # True

True

## keyword *in* tells us if an element is in the list
Returns a boolean.

In [26]:
42 in lst_7

False

In [27]:
42 in lst_8

True

## Removing elements of a list
The function pop() can remove the first value.
Can use the positions or remove an element by value.

In [45]:
lst_d = [2, 3, 'hi', 100, 1000]
first = lst_d.pop(0)
print(f'I popped {first} off the front of the list, which is now {lst_d}')
last = lst_d.pop()
print(f'I popped {last} off the end of the list, which is now {lst_d}')

I popped 2 off the front of the list, which is now [3, 'hi', 100, 1000]
I popped 1000 off the end of the list, which is now [3, 'hi', 100]

In [47]:
to_remove = 'hi'
lst_d = [2, 3, to_remove, 100, 1000]
lst_d.remove(to_remove)
print(f'I removed {to_remove}. The list is now {lst_d}')
to_remove in lst_d

I removed hi. The list is now [2, 3, 100, 1000]

False

# Dictionary fun
Dictionaries have keys and values. They are set off with squiggly braces {}. 

More info: https://www.geeksforgeeks.org/python-dictionary/

In [49]:
d1 = {'USD': 1.00, 'BTC': 51013.93, 'EUR': 1.131735}
d1['BTC']

51013.93

In [52]:
print(d1.keys())
print(d1.values())

dict_keys(['USD', 'BTC', 'EUR'])
dict_values([1.0, 51013.93, 1.131735])

## Replacing a value
Simply use the same key.

In [53]:
d1['BTC'] = 51147.00
print(d1.values())

dict_values([1.0, 51147.0, 1.131735])

## Adding a new value
Use a different key.

In [54]:
d1['CAD'] = 0.780698
print(d1.keys())
print(d1.values())

dict_keys(['USD', 'BTC', 'EUR', 'CAD'])
dict_values([1.0, 51147.0, 1.131735, 0.780698])

## Remove keys and values 
Use the del keyword.
By the way, you can put any Python object in the value.

In [61]:
d1['x'] = ['abracadabra', None]
print(d1)
del d1['x']
print(d1)

{'USD': 1.0, 'BTC': 51147.0, 'EUR': 1.131735, 'CAD': 0.780698, 'x': ['abracadabra', None]}
{'USD': 1.0, 'BTC': 51147.0, 'EUR': 1.131735, 'CAD': 0.780698}

# Tuples
How to pronounce? First syllable (probably) rhymes with *cup*.

Set off with regular parentheses. Examples: 
- ('CAD', 0.780698)
- (3, 4, 5)
- (1.8, 456)

They are accessed by (you guessed it) by element number, zero-offset.

They are *immutable*.

In [62]:
t0 = ()
t1 = ('Bill')
t2 = (3, 4)

In [64]:
print(f'The tuple {t2} has {len(t2)} elements: {t2[0]} and {t2[1]}')

The tuple (3, 4) has 2 elements: 3 and 4

In [70]:
# OK, what does immutable mean? It means we can't change it.
t2.append(5) # AttributeError: 'tuple' object has no attribute 'append'
t2[1] = 700 # TypeError: 'tuple' object does not support item assignment
t2[2] = 'new one' #TypeError: 'tuple' object does not support item assignment

AttributeError: 'tuple' object has no attribute 'append'

## Tuples are good for collecting different objects that need to be treated as a single object

For example, A point may be described as an x and a y. 

A circle may be described x, y, and a radius. 

An exchange rate might be described as a from-currency, a to-currency, and a float.

In [71]:
pt1 = (3, 4)
pt2 = (-14.4, 3.6)
circle = (8, 8, 4.0)
exchange = ('USD', 'CAD', 0.780698)